[2013-12-09 12:00] magwitch opened #1 "Values and promises"
Slight typo I'm afraid.

In the instructions, item 3:
Build a promise chain off the promise we constructed initially that first calls `"getValue"` then calls console.log.
That should be `"attachTitle"` as per item 2.

Great stuff by the way. Now promises are starting to make sense.

[2014-01-12 20:07] #1 closed, assigned to nobody

[2014-01-22 03:18] PeterBorah opened #6 ""Do some work" has an inaccurate spec"
The problem for Do Some Work says:

However, a simple string is returned (as `text/plain`) instead. Either the problem statement or the actual problem should be changed, depending on what is intended.

[2014-05-01 20:40] #6 closed, assigned to nobody

[2014-05-25 19:56] yoshuawuyts opened #14 "ES6 promises compatibility"
There's no note on es6 promise compatibility, so I was wondering how well this course teaches you that.

[2014-07-17 04:36] eddieajau opened #17 "De-deifying an important rule"
Would if be possible to de-deify the function name in https://github.com/stevekane/promise-it-wont-hurt/blob/master/problems/an_important_rule/problem.txt#L62. Because OMG is used commonly as a curse it can be a little off putting to those that hold it with a little more reverence. Would that be ok?

[2014-08-03 22:00] CamiloMM opened #20 "First exercise does not mention resolve()"
The first exercise must be solved with the `defer.resolve` method, but this method's existance is not mentioned in the description. I was expecting it to be called that way, but I think the description should either:

1. Tell you that resolving promises is done with the `defer.resolve` method, or
2. Give you a link to the API docs.

I prefer the first one, myself.

[2014-08-04 21:35] CamiloMM opened #21 "The 5th chapter assumes the user already knows you can chain promises"
The fifth chapter begins with the question:

However, for a user that didn't knew about promises before, this will be hard to understand, because to this point it wasn't explained that fulfillment handlers should return anything at all. It wasn't even shown that you can chain them.

I think this style of course should target the lowest common denominator, i.e., the user that never saw promises bef

[2014-08-05 08:59] CamiloMM opened #22 "Confusing part about "an important rule""
This is written on the exercise description:

This confuses me, because it's the opposite that happens. This code runs without node exiting with an error, i.e., the error thrown gets silently swallowed:

[code]

![does not throw](https://cloud.githubusercontent.com/assets/2404138/3808662/67e68212-1c7a-11e4-901b-28ef0ceff4e3.png)

However, adding `.done()` at the end causes it to _throw the error i

[2014-08-05 13:14] CamiloMM opened #23 "Doubt on "multiple promises""
The bold part is where I can't understand. What did you mean by that?

[2014-08-05 13:48] CamiloMM opened #24 "Is this a better/worse solution for "fetch json"?"
I solved "fetch json" like this:

[code]

Is it more straightforward? Or a bad practice?

For comparsion, here's the official solution:

[code]

[2014-08-05 23:59] CamiloMM opened #25 ""do some work" - server at port 7000 doesn't actually output JSON."
In this exercise, we're supposed to parse JSON from a server that is created at port `7000`. But it doesn't output JSON, instead it outputs GUIDs like this: `097a9790-1cf2-11e4-88f2-630a107fa5b3`. I have checked and I'm not running anything at that port (I don't get anything from that port if I'm not in the exercise).

   will be returned to you containing a primary key called "id".

The only JSON

[2014-08-14 21:12] drejohnson opened #26 "zsh: command not found: promise-it-wont-hurt"
Hi, I followed the instructions to install but I this message in terminal
`zsh: command not found: promise-it-wont-hurt`
Would it have something to do with me running zsh shell?

[2014-09-09 22:51] mlilley opened #28 "Lesson 3 "Always Async" problem description incorrect?"
From lesson 3, "Always Async":

Is this a typo?  Isn't the purpose of this lesson to demonstrate that the opposite is true?

Shouldn't "MUST fire" be replaced with "MUST NOT fire" ?

[2014-09-18 01:51] StevenACoffman opened #29 "do-some-work (Lesson 11): Buffer is not returned"
At the end of the exercise description the hint says that Q-IO read returns a buffer that needs to be converted to a string, but it appears that Q-IO read returns a string value, so it does not need to be converted. Probably just remove the hint.

[2014-09-27 17:07] synthe opened #30 "throw_an_error completion dependent on node version?"
Running the throw_an_error exercise checks the stack trace as part of the completion condition. When using Node 0.11.13 I get the following response.

[code]

The condition should probably have you pass err.message to the rejection to make it complete-able. Otherwise it expects the stack trace including line numbers and filenames to be exactly the same.

The first line of the pass/fail check works

[2014-09-29 11:52] #23 closed, assigned to nobody

[2014-10-18 20:15] nitinsurana opened #31 "Selecting/PressingEnter on any chapter/challenge/activity just hangs the git_bash, nothing happens"
I'm using GitBash in windows 8. I've earlier used planetproto & learnyounode and things works perfect. This one just hangs after selecting any challenge.

[2014-10-19 06:44] #31 closed, assigned to nobody

[2014-10-31 17:22] alwaysautumn opened #32 "throw_an_error"
Your solution doesn't produce the expected value. I'm using node v0.10.29. This was the solution that I came up with (I replaced process.argv[2] with the raw data to eliminate any variables with resolving the command line arguments). Any thoughts?

var q = require('q');
var promise = q.promise;

var parsePromised = function(thingToParse) {
  return promise(function(resolve, reject) {
    try {

[2014-10-31 17:56] #32 closed, assigned to nobody

[2014-11-22 11:10] Kiwka opened #34 "to_reject_or_not_to_reject - syntax error in the description"
In the task description is the word "vexxing", it is better to use word "vexing" here

[2014-12-20 22:08] nethermead opened #36 "Verify failing first test fulfill_a_promise WHY?"
This is my answer:

[code]

But when I try to verify it, I always get:

Verifying "fulfill_a_promise"...

[code]

There's absolutely nothing in the instructions suggesting anything more than the above, so what's happening?

[2014-12-20 22:11] #36 closed, assigned to nobody

[2014-12-23 23:40] rboatright opened #37 "Step one is infinitely high."
Step one has neither training material, nor pointers to tutorials which suggest a way to do step one.

It says to set up var q and var defer and then says "make a promise, pass the console log to the then method of the promise and manually resolve it..."

Really?   Look, I've been programming javascript for a long time.  I can chain asynchronous calls with the best of them.  (Really, webOS was all

[2015-01-07 15:32] dKab commented on #25
ohhh I've been trying to figure out  for hours what's wrong with this task! I couldn't guess that 097a9790-1cf2-11e4-88f2-630a107fa5b3 was the ID I needed, because I was looking for json...

[2015-01-24 14:11] vastus commented on #37
+1

[2015-02-18 09:10] bajtos commented on #14
+1

Both io.js@1.x and node@0.12 ship ES6-compatible `Promise` implementation enabled by default. When it comes to user-land promise implementation, Bluebird seems to be much more popular than q these days.

[2015-02-19 06:17] enerve commented on #28
Yeah, I just bumped into this issue as well.

[2015-02-19 06:21] enerve opened #39 "Chp 3. setTimeout not needed"
to_reject_or_not_to_reject
The description could perhaps mention that setTimeout is not required for this exercise. (Although my program was verified just fine despite using setTimeout)

[2015-02-25 23:58] AlabamaMike commented on #37
This first problem has me turned off from continuing.  I agree with the OP on the difficulty of this task, espcially with the lack of pointers or breadcrumbs to help out those who get stuck.

[2015-03-06 06:50] codeHatcher commented on #37
Wow, this is really bad. It took me a solid 20 minutes to figure this out. I am going to post the solution here so people can move forward. Looking at the actual solution is much more helpful than reading the text since it doesn't tell you how anything works.
[code]

let me know if you guys think we should just post solutions to these problems so people can actually learn from this tutorial. I am

[2015-03-11 04:42] talexand opened #43 "Multiple promises task instruction doesn't point toward the official solution"
The task description isn't very clear about how the different counters are supposed to function. From looking at the official solution, I gathered the following:

1. Each individual promise should increment a counter passed to it each time it is called, and also increment the 'all' function's state counter which tracks how many times an individual promise is resolved.
2. Once the statewide counter

[2015-03-11 09:27] talexand commented on #6
Was this resolved on the npm side? I still have instructions and tests that match OP's issue.

[2015-03-25 05:45] no7dw commented on #37
@codeHatcher +1, here's my a little sollution:

    var q = require('q')
    var defer = q.defer();
    defer.promise.then(console.log);
    setTimeout(defer.resolve, 300);
    defer.resolve('RESOLVED!');

but why setTimeout can be pass with three parameters instead of two parameters ?

[2015-03-25 05:56] no7dw commented on #37
for the same reason , I print my solution of step 2 :

        var q = require('q')
        var defer = q.defer();
        var fun = function(result){
                console.log(result);
        };
        defer.promise.then(null, fun);
        setTimeout(defer.reject, 300);
        defer.reject('REJECTED!');

[2015-04-01 20:42] stevekane opened #46 "2.0 Module updates, discussion. Please add feedback/comments!"
Everyone,

It has come to my attention that this module, which I originally authored as an experiment over a year ago, has started to come into some serious use.  There are many things that SHOULD be done to get this module up to snuff.  Here are the big three that occur to me.

1) Update to latest workshopper.  The one it currently uses is extremely old and bad
2) Remove Q dependency and replace

[2015-04-02 01:22] ExploreMqt commented on #46
I'm in. I'd like to start with the third item, but I will pitch in on the others as needed.

[2015-04-04 02:14] ExploreMqt commented on #46
Alright, I think I understand mostly what to do for #1. Do we want the same lessons for after porting to the native promise api?

[2015-04-04 04:56] TimothyGu commented on #14
+1. I have just successfully completed all exercises with the io.js native Promise, with the exception of `Q.fcall` and `Q.all` etc.

The tag line of this module is: "Uses the popular "Q" library as a default implementation of Promises/A+".

Thing is, Q extends far beyond A+, and deferreds, a central part of this workshopper, are more jQuery-esque than anything.

So yes, I would definitely support

[2015-04-04 05:04] TimothyGu commented on #46
@ExploreMqt I actually just finished the entire tutorial without Q at all. Here are some remarks on converting the tutorial to Promise:.

1. `using_qfcall` would need to be removed.
2. The last three tutorials would need to be converted to some module easier to be denodeified like `request`.

I've gitted my solutions here: https://github.com/TimothyGu/promise-it-wont-hurt-promise. HTH.

Also, I th

[2015-04-04 05:26] TimothyGu commented on #46
OK I just submitted #47 and #48 which hopefully will make this tutorial a little bit more polished.

@stevekane if you are not interested in this module anymore or don't have enough time you could consider adding me as a contributor to this repo. Feel free to check out my GH profile if needed.

[2015-04-04 13:02] bajtos commented on #46
:+1: :heavy_multiplication_x: :100:

My main interest is in item 2) - rework the adventure to teach the ES6 syntax (API). Unfortunately I don't know when I'll have enough time to contribute this change :( I would like to submit a fix until the [International Day of NodeSchool](http://nodeschool.io/international-day/), but can't promise it.

[2015-04-04 13:03] bajtos commented on #14
See also #46, which is discussing a general update of the adventure.

[2015-04-06 01:56] oren opened #49 "Alternative way to run the workshop"
for those who got docker install it can be 1 liner - `docker run -it -v $(pwd):/root oreng/promises-workshop`

It's a tiny image (28 MB) since I run io.js on Alpine Linux instead of Debian/Ubuntu.
more details here:  https://registry.hub.docker.com/u/oreng/promises-workshop

[2015-04-08 06:51] martinheidegger commented on #46
There is a PR for the latest workshopper update by @tdd https://github.com/stevekane/promise-it-wont-hurt/pull/40 Generally I would see need for someone to process the pull requests, most of them should be done quickly. I could spend a little of my time to go through it. At learnyounode @rvaggs adds developers fast to the project to speed up the process and delegate responsibility, a good way to g

[2015-04-08 06:57] TimothyGu commented on #46
@martinheidegger Yes I do volunteer.

[2015-04-08 08:46] stevekane commented on #46
Apologies all I am going to review this tomorrow during the day (central time america) and I will add some contributors (as I should have done long ago).  Thanks for keeping on me about this and doing great work.

[2015-04-08 15:18] tdd commented on #46
By the way, @stevekane and I had briefly talked through e-mail about my taking over this repo's maintenance, and I'm all for it, but that discussion died out a couple weeks back. Eager to resume it.

[2015-04-08 20:23] stevekane commented on #46
Alright all I don't want to overthink this or cause anyone undue annoyance.  Here is my plan.  I'm going to add @TimothyGu and @tdd as maintainers of this project and allow them to use their own discretion and collaboration to move this project forward.  I am proud to have originally authored this module but my interests have moved significantly since that time (I now focus on webgl and high perfo

[2015-04-08 20:26] tdd commented on #46
Hey Steve, thanks for the vote of confidence!

@TimothyGu OK with my merging #40? I vouch for it!

[2015-04-08 20:42] TimothyGu commented on #46
@stevekane Thank you so much!

@tdd I'll take a look at it ASAP, but I have some more server benchmarks to run atm. Note that I of course can't review the French content ;)

[2015-04-09 05:54] tdd commented on #46
@TimothyGu that's alright: the French L10n was already reviewed. I'm more asking about the code itself, as this upgraded to `workshopper`'s latest infra.

[2015-04-09 06:07] TimothyGu commented on #46
Workshopper deps updated in #40.

[2015-04-09 06:09] TimothyGu commented on #43
The official solution is only a pointer, and not how you NEED to do it. I agree that this should be worded more clearly though.

[2015-04-09 06:12] TimothyGu commented on #14
Let's merge this to #46.

[2015-04-09 06:12] #14 closed

[2015-04-09 06:43] TimothyGu commented on #26
This is a npm setup problem.

[2015-04-09 06:43] #26 closed

[2015-04-09 06:47] #17 closed

[2015-04-09 06:47] TimothyGu commented on #17
Time out. Committed a bland fix.

[2015-04-09 06:49] #29 closed

[2015-04-09 06:52] TimothyGu commented on #49
Cool! Would you mind creating a pull request to update the README to reflect this?

[2015-04-09 06:57] TimothyGu commented on #30
This is not reproducible (anymore?) with io.js so I'm closing this for now.

[2015-04-09 06:57] #30 closed

[2015-04-09 06:59] TimothyGu opened #50 "Coding style"
Right now there are multiple coding styles in use in PIWT. The latest addition from @tdd is in NPM style (which is also what I prefer), but the existing solutions are in @stevekane -style. We should migrate everything over.

[2015-04-09 07:01] #34 closed

[2015-04-09 07:01] TimothyGu commented on #34
Thanks!

[2015-04-09 07:07] TimothyGu commented on #39
That's what promises are all about! (The abstraction between async and sync code)

[2015-04-09 07:07] TimothyGu commented on #39
I'll fix this tomorrow.

[2015-04-09 07:28] oren commented on #49
sure!

[2015-04-09 07:56] tdd commented on #50
That's a good point; I resisted doing that as long as Steve "owned" the codebase; basic respect, you know. If we do take over, making the coding style homogenous is best. Also, not quite npm style: I loathe comma-first :wink:

[2015-04-09 14:47] tdd commented on #37
@TimothyGu WRT that problem, I was speaking with @stevekane over email recently and we figured the whole thing should be rewritten using an API closer to ES6, such as [rsvp](https://github.com/tildeio/rsvp.js/) or even [es6-promise](https://github.com/jakearchibald/es6-promise).

I'm all for it, and suggest I open a dedicated issue and work out a PR for that. What do you think?

[2015-04-09 16:04] TimothyGu commented on #50
Hmm… https://github.com/stevekane/promise-it-wont-hurt/blob/master/promiseitwonthurt.js#L9-L16

[2015-04-09 16:14] TimothyGu commented on #37
@tdd I think so too. I'd use es6-promise **only** as a fallback if the user is not already using a promise-capable Node.js/io.js. In case you haven't noticed, I have put up my solutions to the problems without using Q here: https://github.com/TimothyGu/promise-it-wont-hurt-promise

Also you know what would be productive is if we submit a PR for every module ported so we can review it faster, and l

[2015-04-09 17:18] oren commented on #49
done. i added 2 docker related files.

[2015-04-09 17:25] #49 closed

[2015-04-09 21:00] stevekane commented on #50
Feel free to do literally ANYTHING you prefer here.  I don't mind at all where the commas or spaces or anything are.  In fact, I would suggest you adhere to the recently released style proposed by @feross in his module.  I think it's an acceptable standard that reflects the opinions of many top module authors.  Blaze the trails friends.

[2015-04-09 23:07] feross commented on #50
If you like npm style, then https://npmjs.com/package/standard is for you :-)

Also, npm ditched their comma-first rule a while ago, even if their [docs](https://docs.npmjs.com/misc/coding-style#comma-first) haven't been updated yet!

[2015-04-10 00:48] stevekane commented on #50
I also stopped it a long time ago myself.  I now use the more boring var-per-line style and have completely abandoned semicolons.

[2015-04-10 01:04] TimothyGu commented on #50
Personally I actually like comma-first, but if you guys prefer I can work with standard. (TBH the name “standard” reminds me of common md and different colors of the bike shed…)

[2015-04-10 04:40] stevekane commented on #50
No preference but I think it might be the least provocative to go w/ the ver-per-line style as it's most familiar and comes with the lightest overhead for newcomers.

[2015-04-10 07:01] tdd commented on #50
Airbnb's style guide reflects the community's main sentiment, and I think we should go along that (and yes, it happens to fit my personal style).

[2015-04-10 07:12] tdd commented on #37
Hey Tim, by "every module", you mean every problem, right? That sounds like a good idea, definitely. I'm kinda underwater for the next few days, but I can def find time to review the work if you're blazing through it! From next Thursday on I'll have more time to help and wrap this up.

[2015-04-16 13:10] tdd commented on #46
Hey @TimothyGu, @stevekane

So I'd love to see FR L10n in a published version… Things are moving forward again, but only Steven can publish on npm. Can we agree on publishing 0.2.0 or 1.0.0 based on current master?

[2015-04-16 14:39] TimothyGu commented on #46
@tdd @stevekane, it is totally OK with me, and I think it is a good time for a release. I'd call it 0.2.0, and the switch from Q would warrant a new major release.

[2015-04-16 14:42] bajtos commented on #46
@stevekane would you mind adding  @TimothyGu and @tdd as package owners on npm, so that they can publish new versions too?

[2015-04-16 14:47] tdd commented on #46
I'm concerned 0.2.0 sounds pretty low, but I don't like skipping numbers
in a given sequence, so 0.2.0 it is.  Moving to ES6 Promises API (either
native or shimmed) def warrants a nice 1.0.0 :smile:

--
Christophe Porteneuve
tdd@tddsworld.com

[2015-04-24 04:24] TimothyGu commented on #46
@stevekane Ping. Do you have any plans on giving us the npm ownership?

[2015-05-09 16:03] TimothyGu commented on #46
@stevekane ping × 2

[2015-05-20 18:33] #39 closed

[2015-05-20 18:56] Sequoia opened #55 "Tests don't really test much"
for exercise 2:

* Create a deferred
* Create a function to print error.message using console.log.
* Pass this function as a rejection handler to the "then" method of your promise.
* Manually reject that promise
* using setTimeout with a delay of 300ms
* reject with the value "REJECTED!"

Passing solution:
[code]

I know testing these async sorta things can be tricky but imo the test should check

[2015-05-20 18:56] Sequoia commented on #55
users may think they have solved the exercise when in fact they did it wrong.

[2015-05-20 19:01] TimothyGu commented on #55
Yes, I'm trying to find a way to fix this.

[2015-05-20 19:08] Sequoia commented on #55
mmm... /cc @rvagg @martinheidegger There is a way to do this with workshopper (I think) but I don't know what it is. substack/adventure is more flexible and might make this easier but would basically require a total rewrite so if you can figure out a way to do it with workshopper I recommend that!

[2015-05-20 19:12] martinheidegger commented on #55
https://github.com/workshopper/workshopper-adventure (workshopper & adventure compatible ... mostly anyways)

[2015-05-20 19:14] Sequoia commented on #55
@martinheidegger how does that solve the async problem? (i.e. "`assert` no output; wait 300ms; `assert` output = `'FOO!'`")

[2015-05-20 19:16] martinheidegger commented on #55
@Sequoia It doesn't solve the problem but it should give you a tool to help solve the problem (you can fix it using an adventurous way).

[2015-05-20 19:17] Sequoia commented on #55
ohh that lib allows you to intermix lesson types. I get you. :smile_cat: cool!

[2015-05-20 19:21] TimothyGu commented on #55
@Sequoia care to make a prototype?

[2015-05-20 19:22] Sequoia commented on #55
@TimothyGu nah :smile_cat: I have my own nodeschool course languishing for lack of attention :) https://github.com/Sequoia/clijs/tree/master/exercises

[2015-06-02 02:55] stevekane commented on #55
The shitty way reporting is done in this module goes way back to the very very awkward API for the original workshopper (which was designed for streams).  This has probably changed a lot and there are likely now better solutions.

[2015-06-28 17:06] amidart commented on #6
I'm having this issue too (installed from npm)

[2015-07-08 17:41] gbezyuk commented on #25
The issue is still open. I upvote it.

[2015-07-09 00:52] TimothyGu commented on #25
This has been fixed by dbfc3cb4fd75cb71ae15511479fc5bedf3b28b22. We just need to publish the change.

[2015-07-09 00:52] #25 closed

[2015-08-08 16:22] StevenACoffman commented on #46
These are the remaining steps:
1. @stevekane adds the NPM username of @TimothyGu (need to npm adduser timothygu).
2. @stevekane adds @TimothyGu as owner of the promise-it-wont-hurt package (npm owner add timothygu).
3. @TimothyGu publishes the next version of promise-it-wont-hurt on NPM (npm publish . in root dir).

Thanks for an awesome workshop @stevekane. I would really appreciate it if you cou

[2015-08-30 09:03] PaoloLaurenti opened #56 "'More functional' solution is not working"
I tried to implement the 'More functional" challenge but I wasn't able to solve it.
Next I got the solution in order to better understand the concepts behind this challenge, but whenever I run the code I obtain the following error:

[...]/node_modules/lodash/index.js:3865
      return metaMap.get(func);
                     ^
TypeError: Invalid value used as weak map key
    at WeakMap.get (native

[2015-08-30 09:05] PaoloLaurenti commented on #56
In addition I made a test and the following code works perfectly:

var qhttp = require('q-io/http')
, _ = require('lodash')
, cachePath = "http://localhost:7000/"
, dbPath = "http://localhost:7001/";

var concat = function(suffix) {
  return this + suffix;
};

//var buildDbPath = _.bind(String.prototype.concat, dbPath);
var buildDbPath = _.bind(concat, dbPath);

qhttp.read(cachePath)
.then(_.flow(

[2015-09-09 13:36] StevenACoffman commented on #46
With node 4.0 out (including native promises), I'd really like to see this move forward again. I've pinged @stevekane on twitter, and he seems receptive, so hopefully that will happen soon.

[2015-09-22 18:00] samrocksc opened #58 "setTimeout's 3rd Parameter"
I just wanted to mention that the 3rd parameter in the official solution is a vague(but clever) method of accomplishing it.  Perhaps it might be more intuitive to include a simpler official solution so that we can understand what is happening.

[2015-10-01 08:17] nineonine opened #59 "can't reset the progress"
would be nice to have it. Thanks !

[2015-10-08 20:32] stevekane commented on #46
This is FINALLY done.  Sorry for the extreme delay.  No reasonable excuse just the normal ebb and flow of life took me elsewhere.

[2015-11-02 05:47] ShadowManu opened #60 "A problem proposal: fullfilling rejections"
Hi. I was just working with `mongodb` and I sidetracked to thinking on promises and understanding a little more of them. After having solved this workshop (which was great), I was tinkering with a concept on the Promises/A+ spec that we can add as a new exercise. Consider the following code snippet.

[code]
The output of this program would be
[code]
So, I think the magic to show on this program is

[2015-11-02 06:17] ShadowManu commented on #60
Just experimenting and forgot a simpler way: changing the return line with just `return 'A saved rejection';` works too.

PD: just using `return;` works too, but then the promise is fulfilled with `undefined`.

[2015-11-17 15:58] scottnath opened #61 "how to install no-q version?"
Hi there,

Are there instructions somewhere on how to install and learn from the no-q branch?

thanks,
Scott

[2016-01-17 01:00] focusaurus commented on #28
Issue still not resolved in published NPM version. Would you consider adding a collaborator to this project to review and selectively merge PRs and publish a new version to npm? Otherwise maybe explicit mark the README as [UNMAINTAINED](http://jlongster.com/Starters-and-Maintainers)?

[2016-01-17 02:24] TimothyGu commented on #28
Will publish a new version in a few minutes.

[2016-01-17 02:24] #28 closed

[2016-01-17 02:27] TimothyGu commented on #61
No; only one exercise has been ported right now.

[2016-01-17 02:27] #61 closed

[2016-01-17 07:32] TimothyGu commented on #58
Removed in 368fec1c6dfed06d377e9491e5b48fdec3a00f58.

[2016-01-17 07:32] #58 closed

[2016-01-17 07:34] TimothyGu commented on #55
I've started to add [considerably](https://github.com/stevekane/promise-it-wont-hurt/blob/no-q/exercises/reject_a_promise/exercise.js#L18-L22) [more](https://github.com/stevekane/promise-it-wont-hurt/blob/no-q/exercises/reject_a_promise/exercise.js#L33-L72) [tests](https://github.com/stevekane/promise-it-wont-hurt/blob/no-q/exercises/reject_a_promise/wrap.js). I haven't finished rewriting everythi

[2016-01-17 07:34] #55 closed

[2016-01-17 07:36] TimothyGu commented on #20
Revised according to ES2015 wording: https://github.com/stevekane/promise-it-wont-hurt/commit/b2881eeeafe3f686c3654ce87c62f6e469c6bc08#diff-41cba6cad45f5d5e61722a5e7f2254b4R13

Feel free to comment there.

[2016-01-17 07:36] #20 closed

[2016-01-17 07:39] TimothyGu commented on #37
Step one is now splitted into two:

1. introduction to promises and warmup with setTimeout
2. introduction to promise syntax

Feel free to read the new lessons (in `no-q` branch) and comment on b2881eeeafe3f686c3654ce87c62f6e469c6bc08.

Thank you all!

[2016-01-17 07:39] #37 closed

[2016-01-19 03:33] #50 closed

[2016-01-19 03:50] TimothyGu commented on #56
This lesson was removed in the latest version of promise-it-wont-hurt.

[2016-01-19 03:50] #56 closed

[2016-01-19 03:52] TimothyGu commented on #60
Hmm I haven't thought about that. I guess this is a pretty good idea, even though your implementation is a bit odd looking :)

[2016-01-19 03:52] TimothyGu commented on #59
Hi! You can reset the progress by executing `promise-it-wont-hurt reset` in the latest version. Good luck!

[2016-01-19 03:52] #59 closed

[2016-01-19 04:03] TimothyGu commented on #46
Hi all,

Just wanted to let you guys know that I have been rewriting the entire workshop for the past few days, converting solutions to ES2015 promises, adding stricter tests, and adding new lessons that I feel should be necessary in the first place. My estimate is that I am almost halfway through the entire process, but this might change if I decide to add more lessons.

French translation is now

[2016-01-19 04:05] TimothyGu commented on #21
I will add a separate lesson for this right before this one. Thanks!

[2016-01-19 04:05] #21 closed

[2016-01-19 04:08] ShadowManu commented on #60
That's the comment for. So simplifying a little:
[code]

[2016-01-19 04:33] TimothyGu commented on #60
Yep. There have been a lot of changes done to promise-it-wont-hurt recently: https://github.com/stevekane/promise-it-wont-hurt/issues/46#issuecomment-172731538. I will take this as one of my TODOs.

On a side note, it would really help us if you could find time to translate (or to correct) a few strings into Spanish: https://github.com/stevekane/promise-it-wont-hurt/blob/master/i18n/es.json I'm st

[2016-01-19 06:02] ShadowManu commented on #60
I could do something about it the wednesday or the weekend to feel helpful ;)

[2016-01-19 06:17] ShadowManu commented on #60
Oh what the heck, I peeked at it, seemed easy, and I just did it on #62

[2016-01-19 08:52] tdd commented on #46
Hey Tim,

Gratz on being steadfast with this work. I haven't looked into the
ES2015 rewrite, but I trust this works on recent Nodes without the need
for Babel, just perhaps the harmony flags?  It would be great to reduce
the requirements surface area as much as possible so the trainees can
focus on "just promises", you know.

I'll try and make time for updating the translations before the month is

[2016-01-19 16:52] TimothyGu commented on #46
By ES2015, I meant only ES2015 promises :)

[2016-01-19 20:56] thetwosents opened #63 "Just a typo on values & promises"
In the task:
Construct a function `attachTitle` which prepends `"DR. "` toits first argument and returns the result.

"toits" should be "to its"

Thanks!

[2016-01-19 23:24] TimothyGu commented on #63
It's fixed in the latest release.

[2016-01-19 23:24] #63 closed

[2016-01-23 19:39] itsyogesh opened #64 "Cannot install this workshop"
Hi there, I was trying to install this workshop but wasn't able to because apparently `timothygu/workshopper` is not in the npm registry. I am pasting the whole error log, just in case.

[code]

[2016-01-23 19:55] TimothyGu commented on #64
I am using a specific kind of packages called "scoped packages" which are my forks of the official packages. Unfortunately your npm version doesn't seem to support them :(

I will convert these packages to regular packages and you can give a try then.

[2016-01-23 19:58] itsyogesh commented on #64
Great, thanks. So in the meantime, is there a way in which I can fork this and then change the package.json file to use `workshopper/workshopper` package instead. I haven't use npm that extensively, but I am guessing I can install modules from local repos as well.

[2016-01-23 20:05] TimothyGu commented on #64
Indeed when I am trying to install promise-it-wont-hurt on Node.js 0.10 this shows up:

[code]

Not to my best knowledge.

Please re-test installing now. I switched back to the official, unforked workshopper module for now, but beware that it contains some bugs. Don't press `q` in the terminal in the menu (if you do you'll see the bug).

[2016-01-23 20:06] TimothyGu commented on #64
And, if possible, please upgrade to the newest version of Node.js and npm to enjoy the newest features ;)

[2016-01-23 20:07] itsyogesh commented on #64
I am using nvm, I should probably switch to a different node version. What version do recommend ? I can upgrade to 4.0+ if this workshop contains any es6 features.

[2016-01-23 20:20] TimothyGu commented on #64
No it does not, but I'd recommend at least 4 (I personally use 5), just because it's newer. 0.10.0 was released almost three years ago!

This workshop uses no ES2015 features. We are in the process of rewriting it to use ES2015 promises with a polyfill, but even then you don't need any ES2015-capable runtimes.

[2016-01-23 20:45] itsyogesh commented on #64
So I installed v5.3 and installed the workshop again. The installation was completed, but when I type `promise-it-wont-hurt`, it throws an error saying it cannot find a module `'@timothygu/workshopper'`. I am attaching the entire error log.

[code]

[2016-01-23 20:53] TimothyGu commented on #64
Ugh… forgot to change the `require` line after changing deps… sorry about that. Should REALLY be fixed now.

[2016-01-23 20:54] TimothyGu commented on #64
Also, the latest Node.js is 5.5.0 now ;) You can simply do `nvm install 5`: it will install the latest 5.* version.

[2016-01-23 20:58] itsyogesh commented on #64
Great, its working now. I guess we should update the documentation for the node & npm version.

Saw that node update in the node-weekly this week. I don't know why, but I felt upgrading to v5.5.0 was too bleeding edge tech for me. :P

[2016-01-23 21:29] #64 closed

[2016-01-30 22:20] tdd commented on #46
Hey!

@TimothyGu FYI, I'm re-L10n'ing the whole thing to FR. Should be in a PR within 24 hours. I see a couple things in the original EN text that make me tick, but we'll talk about that later.

More to the point, verification of "shortcuts" breaks. Doesn't properly detect catch usage (of its own solution!). I use Node 4.2.6 on OSX through nvm.

[2016-01-31 04:39] TimothyGu commented on #46
@tdd should be fixed in 7b2dcac

[2016-02-09 16:17] wheelerlaw opened #68 "Error running boilerplate code for Exercise 2"
Originally I had this as a solution:

[code]

But I kept getting the following error:
[code]

But then I tried running the boilerplate code, with the addition of the `require` at the top, and kept running into the same issue.

[2016-02-10 22:45] ajfarkas commented on #37
So psyched this is fixed. Came back to this workshop and it's fantastic!

[2016-02-10 22:55] ajfarkas opened #69 "values and promises requires specific syntax"
My solution to values and promises uses the syntax:
[code]
and gets rejected. When I change the syntax to
[code]
my code passes.

I'll take a look at the code and make a PR, but wanted to get this in as an issue.

[2016-02-11 00:59] TimothyGu commented on #69
This is somewhat intentional: https://github.com/stevekane/promise-it-wont-hurt/blob/master/exercises/values_and_promises/wrap.js#L26

[2016-02-18 19:53] TylerMoeller commented on #68
I just went through this exercise for the first time - others can correct me if I'm overlooking a detail (or five). In Node.js `setTimeout` uses the syntax:

[code]

So, you'll need to change this line to use a callback as the first argument:

[code]

You can do this with an anonymous function, like:

[code]

[2016-02-19 02:22] TimothyGu commented on #68
Yeah we changed it so that you shouldn't `require('es6-promise')` yourself.

[2016-03-08 06:29] siddharthkore opened #71 "Getting 404 while installing through npm"
The command "npm install -g promise-it-wont-hurt@latest" mentioned in the "Install & Update" section gives error:
/promise-shop$ npm install -g promise-it-wont-hurt@latest
npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'timothygu/workshopper-wrappedexec' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was specified as a dependency of 'promise-it-w

[2016-03-08 06:31] siddharthkore commented on #71
What could be wrong over here

[2016-03-12 02:19] stanzheng commented on #71
try updating your version of node and npm and try again? it looks like you're on node .10 and npm 1.4

it works fine with node 4 and npm 3.

[2016-03-16 07:34] siddharthkore commented on #71
yes. Thats the problem. I have node version .10 installed in my machine since it was giving issues in my project. However, updating to 0.12.4 and with npm version 2.10.1, I was able to install promise-it-wont-hurt module.
Thanks.

[2016-03-17 01:05] jwred5 opened #72 "Exercise 9 - Promise is not defined Error"
For some reason, on exercise 9, the environment cannot find Promise.

I tested this by using "promise-it-wont-hurt run ~script for exercise 2 which passed~" while under exercise 2, and then using the same command under exercise 9.

Under exercise 2, the script was run as expected and output "FULFILLED!" as expected.

Under exercise 9, the script threw "ReferenceError: Promise is not defined"

I ex

[2016-03-26 23:50] keithk commented on #72
@jwred5 I just ran through this and got that error when not putting 'new' before calling Promise. Can you post your working code?

[2016-03-28 15:22] zhaoyou opened #73 "Values and promises solution attachTitle function ?"
why ?

`var attachtitle = function(arg) { return 'DR. ' + arg};`

[2016-03-28 18:59] gjbianco commented on #72
I noticed this error on exercise 9 and I also get it on exercise 10, even when using Promise.resolve().

[code]

[2016-03-28 20:29] YueyangZhang opened #74 "Can't install this module"
C:\SelfLearning\promise-shop>npm install -g promise-it-wont-hurt
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\4.x\\node.exe" "C:\\Program Files\\nodejs\\4.x\\node_modules\\npm\\bin\\npm-cli.js" "ins
tall" "-g" "promise-it-wont-hurt"
npm ERR! node v4.4.1
npm ERR! npm  v2.14.20
npm ERR! code E500

npm ERR! internal server error : @timothygu/workshopper
npm ERR!
npm ERR! If

[2016-04-03 18:00] TimothyGu commented on #74
You need to update your npm.

[2016-04-03 18:00] #74 closed

[2016-04-03 18:06] TimothyGu commented on #73
You need `function attachTitle`, or if you still prefer `var` syntax, `var attachTitle = function attachTitle(arg)`

[2016-04-03 18:06] #73 closed

[2016-04-06 20:05] carloscarvallo opened #76 "fetch JSON"
why the solution of this exercise uses chaining Promises, its only for the workshop purpose?

[code]
Considering that this simple solution is valid too?

[code]

[2016-04-07 02:07] bambery commented on #68
Can the text for the exercise please be updated? As of right now, it still seems to indicate that you should be adding that line, since right above the boilerplate it says:

Then, in the main file in your app, add the following line:

    require('es6-promise')

Do I still need to npm install it, and the requring is handled by the checking script? Or did I not need to explicitly install it? I can

[2016-04-07 04:35] bambery opened #77 "exercise 06 - what is running supposed to do?"
I'm confused as to what output I am supposed to see when just running program06.

I have written some code that should output to console, but when I run, I get no output at all. Previous questions would throw errors or show syntax problems, but when I just enter garbage and run it, I get nothing. I'm not sure if I should see anything at all? I realize this question is supposed to be somewhat free

[2016-04-08 00:13] carloscarvallo commented on #77
It's shorcuts exercise? that problem don't have a specific task... what is your code?

[2016-04-08 04:24] bambery opened #78 "exercise 10 - done handler"
Hi,

I realize this code is quite old, but there is no done() handler in the es6 spec, and correct me if I am wrong, nor is it implemented in v8 or babel. As it seems nonstandard, does it make sense to include in the course?

[2016-04-08 04:37] bambery commented on #77
Well, when I input code that threw errors in other lessons, it did not throw errors when running in exercise 6. But I am closing this, I solved it last night, even without errors! :smile:

[2016-04-08 04:37] #77 closed

[2016-04-08 04:40] bambery commented on #78
Closing this task, but I think it would be helpful to change the description that exists on http://nodeschool.io/#workshopper-list to say that this is a Q implementation of promises and not es6 - if it was stated anywhere, I missed it.

[2016-04-08 04:40] #78 closed

[2016-04-10 06:59] TimothyGu commented on #68
I think you might have misread the section.

https://github.com/stevekane/promise-it-wont-hurt/blob/bfa0425790ca4a4d36f080787f9f524426e64850/exercises/fulfill_a_promise/problem.md#setup:

(bold type in original text)

[2016-04-10 07:00] #68 closed

[2016-04-10 07:04] #69 closed

[2016-04-10 07:04] TimothyGu commented on #72
I'll take a look later today.

[2016-04-10 07:05] #71 closed

[2016-04-10 07:05] TimothyGu commented on #76
They mean different things. For the first, `console.error` will be called if `JSON.parse` fails and throws an error. In case of the second, the JSON.parse error is silently ignored.

I haven't yet found time to rewrite this specific tutorial yet, but when I did I'll definitely take into account this aspect of promises.

[2016-04-14 21:01] ggustilo opened #79 "Problem installing"
npm can't pull the latest alpha release - error parsing json.  Here is the log:

[code]

[2016-05-21 13:52] gasp commented on #72
At Nodeschool Paris today, we reproduced using nvm and versions 4 and 6.
With node v4.x it works perfectly and `console.log(error)` outputs something like `"[SyntaxError: Unexpected token o]"`
With node v6.2.0 `console.log(error)` outputs something like `"SyntaxError: Unexpected token o in JSON at position 1\n     at Object.parse (native)\n    at /home/gasp/nodeschool/promise_throw.js:7:17"\n (bla

[2016-05-22 21:00] thiberaw opened #80 "last : "Do some work""
this is the first request:

`var qhttp = require('q-io/http');

qhttp.read('http://localhost:7000')
	.then(function(response) {
		console.log(JSON.parse(response));
	})
	.done();`

and when I run:

`/promises-it-wont-hurt/node_modules/q/q.js:155
                throw e;
                      ^
SyntaxError: Unexpected token o`

so I am a bit stucked ...
If you could please help, thank you.

[2016-05-23 14:43] spoonscen commented on #79
`Invalid name: "@timothygu/workshopper-wrappedexec"`

Looks like we aren't able to install these forked versions of the npm packages.

[2016-05-23 14:45] TimothyGu commented on #79
You need to update your npm version.

[2016-05-23 14:49] TimothyGu commented on #79
The original issue seems to point to a temporary npm error. @spoonscen, your error is npm version-related.

[2016-05-23 14:49] #79 closed

[2016-06-05 21:10] evan-mcclaugherty opened #81 "errors"
It appears i have the correct solution to "throw an error" and "an important rule", however, the actual vs. expected is failing simply because the paths are not the same to the error.  Actual error is coming from /User/ and expected error is coming from /usr/local/.  so its failing only because the paths aren't identical.

[2016-06-06 14:41] dannyfritz commented on #81
This appears to be an issue with installing Node through `brew` as opposed to from the Node website.

<img width="1354" alt="screen shot 2016-06-06 at 08 37 40" src="https://cloud.githubusercontent.com/assets/315788/15825812/6bc49ece-2bc2-11e6-8c2a-6d2f541d0fdd.png">

[2016-06-14 18:38] Fourfingerz opened #82 "Having trouble npm installing package"
I'm getting an error trying to install this package after i made a directory and npm initting. Can you guys look into this?
<img width="990" alt="screen shot 2016-06-14 at 2 36 28 pm" src="https://cloud.githubusercontent.com/assets/7053313/16055015/8e554a98-323d-11e6-8cc4-6ac61300173b.png">

[2016-06-19 20:06] vubui opened #83 "Exercise 10 of 13: Task's instructions mention a Q's function"
Step 3 asks us to "Create a promise chain that wraps your iterate method using Q's`fcall` then a series of iterations that attempts to perform `iterate`a total of 10 times."

This seems like a relic of the old Q workshop. Will this be replaced soon to prevent confusion?

[2016-06-22 03:27] no-language commented on #83
I think you're right that the instructions are outdated - the example solution begins the chain with `Promise.resolve` rather than `Q.fcall`. There's still enough information in the instructions for the exercise to be relatively straightforward to solve, but it is confusing to suddenly reference this new module without any additional explanation, especially when the module is not even needed to so

[2016-06-23 06:54] AnwarShahriar commented on #82
I'm facing the same problem
[code]

[2016-06-28 13:08] batjko opened #84 "Ex 9 (Throw an error): Comparing full error stack?"
Hi there,

Do I see correctly that in this exercise, the full error stack is compared line by line?
I'm pretty sure my solution is correct (I am getting the right error output, plus I peeked at the official solution after I had mine confirmed as working), but the full stack uses different paths:

![image](https://cloud.githubusercontent.com/assets/7287076/16416321/9438f192-3d39-11e6-92a1-b8fcac8a3

[2016-06-28 13:48] batjko commented on #84
Ah, just saw this is already reported via #81, just under a terrible ticket name.
Closing this as a duplicate.

[2016-06-28 13:48] #84 closed

[2016-06-28 13:48] batjko commented on #81
I'm having the same issue on Windows.
It would be better just to compare the `error.message` values, not the full stack.

[2016-06-30 04:03] patrickkerrypei opened #85 "Windows setup"
Hi!

Thanks in advance for your time!

I've never used docker before this and am wondering if you could please explain how to use the the command given in the docker installation?

Right now attempting to alias it with
`alias promise-it-wont-hurt='docker run -it -v $(pwd):/root oreng/promises-workshop'`prints:

`cannot enable tty mode on non tty input`

Ideally what directory should I be in and wh

[2016-06-30 15:38] patrickkerrypei commented on #85
I solved it by running `docker-machine ssh default` for anyone who's experiencing the same thing!

[2016-06-30 15:38] #85 closed

[2016-07-03 12:36] discdiver opened #86 "Exercise 2 - Fulfill a Promise - breaks when add require('es6-promise');"
Instructions say:

Leads to:

Running node v5.4.1

Packages installed with Promise It Won't Hurt:

─┬ promise-it-wont-hurt@1.0.0-alpha.2
  ├─┬ @timothygu/workshopper@2.7.4
  │ ├─┬ @timothygu/terminal-menu@2.1.2
  │ │ ├── charm@1.0.1
  │ │ ├─┬ duplexer2@0.1.4
  │ │ │ └─┬ readable-stream@2.1.4
  │ │ │   └── buffer-shims@1.0.0
  │ │ ├── inherits@2.0.1
  │ │ ├── resumer@0.0.0
  │ │ └── visualwidth@0.1

[2016-07-04 04:18] benschac opened #87 "Challenge 2: Incorrect Solution Passes"
[code]

I mean, I guess it works, but not really so flexible by any means.

[2016-07-10 13:09] probil opened #88 "Exercise 7 of 13: Promise after promise"
Issues I have:
1) Task description is abstract and it's hard to realize what you should do here.
2) Solution should be executed in 0.4s-0.6s. But my solution executed in ~0.1s and I can't pass it.
[code]
O_o
There is no mention about this restriction in description.
3) Where can I get 'secret value'?
[code]
It's a magic, nothing more...

This task rather for improving skills in reading developers

[2016-07-10 23:23] heymark commented on #88
Agreed, this is obtuse, and inconsistent with the style of the exercises up to this point. No mention is made of the fact that this exercise relies on interacting with the test suite to obtain the "secret value" – the "secret value" in a previous exercise was a string literal, and previous exercises have stood on their own (i.e. been testable outside of the workshopper environment).

Could `first`

[2016-07-17 20:36] randyxli commented on #81
I'm also encountering this problem, even after copy-pasting the solution. I second @batjko's suggestion.

[2016-07-22 09:55] nicoleneo commented on #81
I'm getting this error too. Obviously the file path for our solutions and the exercise solutions aren't identical as they're different files.

Should just check the first two lines of console.log: "SyntaxError: Unexpected token o in JSON at position 1
    at Object.parse (native)
"

[2016-07-25 04:06] domfarolino opened #90 "Exercise 11 of 13: Alternate solution"
@stevekane

Not a crazy creative solution here, and definitely not a scalable one but, ehh, here it is:

[code]

[2016-07-25 04:10] domfarolino commented on #90
In hindsight, it doesn't fetch `promise1` and `promise2` in parallel (which was probably the point lol) so I'd say it doesn't count...

[2016-07-25 04:10] #90 closed

[2016-07-25 05:08] TimothyGu commented on #90
Yep. 😄

[2016-07-25 05:17] TimothyGu commented on #88
I modeled this specific exercise after [learnyounode](https://github.com/workshopper/learnyounode/blob/master/exercises/http_uppercaserer/exercise.js#L8-L10)'s use random word generator, with the obvious intention to make it harder to cheat the system. Now, I guess the instructions can be improved, and thanks go to @heymark for pointing out some obvious places.

Many learnyounode exercises aren't

[2016-07-25 05:20] TimothyGu commented on #87
Another way is to force the user to export the promise in this fashion:

[code]

This way it won't pass. Do you think that would be easier?

Alternatively, I can make the boilerplate more suggestive, like

[code]

How's that?

[2016-07-25 05:21] TimothyGu commented on #86
Immediately above it:

but either way I'll fix it.

[2016-07-25 05:22] TimothyGu commented on #83
Yep, sorry about that.

[2016-07-25 05:23] TimothyGu commented on #81
@nicoleneo, just curious, what is your Node.js version?

[2016-07-25 05:27] TimothyGu commented on #81
Yeah, only checking the first few lines would be ideal. Unfortunately, fixing the issue is more complicated as Workshopper (the module that lets us make this ... workshop) is pretty inflexible with command output stuff. I'll see what I can do in the next few days.

[2016-07-25 07:50] batjko commented on #81
Perhaps the task could be changed to try/catch the issue and only console.log the error.message?

[2016-07-25 09:01] nicoleneo commented on #81
@TimothyGu I use the [official Node Docker container](https://hub.docker.com/_/node/) version 6.2.2.

[code]

It could be possible to override [comparestdout](https://github.com/workshopper/workshopper-exercise/blob/master/comparestdout.js) line 109
[code]

[2016-07-26 21:26] JoeDoyle23 commented on #88
We just ran into this issue as well at the Node School held during Node Summit. I think the approach is ok, but the instructions are very unclear that the `first` and `second` functions will be injected. Would you be open to a PR for an update to the instructions for this one?

[2016-07-26 22:18] TimothyGu commented on #88
@JoeDoyle23, yes, of course.

[2016-07-27 07:49] probil commented on #88
@JoeDoyle23 You are right. Approach is good but current exercise is unclear. I have finished first 6 exercises without any issues

[2016-07-27 12:50] titay2 opened #91 "docker not found"
I was trying to install the environment on my computer but when i am trying to run the promise-it-wont-hurt-command I am getting this error

zsh: command not found: docker

[2016-07-30 19:51] davidhatten opened #92 "Exercise 9 of 13 can't be solved; problem with paths in equality check"
So I have a working solution for Exercise 9 (Throw an error) and most of the output lines are equal, but anything containing a path is a problem. The app seems to be generating paths from `/home/<user>/.nvm/versions/node/<version>/lib/node_modules/promise-it-wont-hurt/exercises/throw_an_error/solution/solution.js` whereas the execution returns the path `/home/<user>/code/nodeLearning/nodePromise/p

[2016-08-07 17:40] HermantNET commented on #92
Same problem, my dev environments on a different drive so maybe that has something to do with it? Everything lines up except for the paths.

[2016-08-09 20:04] donhenton commented on #88
not even getting a value for process.argv[2], either in run or verify mode.  Insert sad-face here.

[2016-08-12 08:21] rossb commented on #92
Same issue here on OS X 10.11.5 (although in my case the error compares the path of my file with `/usr/local/lib/node_modules/…`, where my node modules live).

[2016-08-12 09:28] rossb commented on #92
Just a note to say I see the issue as above verifying lesson 10 of 13.

[2016-08-12 16:10] kvsm commented on #92
Same error here.

[2016-08-17 14:06] divyadeepsawhney opened #94 "Problem with JSON input of Excercise 9: Throw an error"
![screenshot 2016-08-17 19 35 17](https://cloud.githubusercontent.com/assets/7996381/17739154/c96d184e-64b1-11e6-8679-742033bf27c9.png)

The problem is with verification. I know I did it right. But, it should be resolved in this repository for future.

Thanks

[2016-08-22 04:28] keith24 opened #95 "Exercise 2... can I get a hint"
I remember when I was learning callbacks, they totally baffled me.  Now I find them so easy, it's hard to remember how hard they were.  Now promises baffle me.

The second exercise gives a decent explanation of how the flow works.  But the boilerplate at the bottom just isn't enough.  I am completely lost.  I've never written a promise before.

I think after doing this exercise, I can build on tha

[2016-08-22 04:35] keith24 commented on #95
OK, I see.  I understood that I needed `fulfill('FULFILLED');` in the promise definition, but I was trying to avoid the callback in `setTimetout()`!

I could have guessed that, but I could never have guessed the runtime.  I tried `console.log(promise)`.  I guess I'm just not used to calling `console.log()` without an argument!

I get it now... gonna study this code and take it from there.

[2016-08-22 14:12] vladh commented on #82
Same issue here.

[2016-09-03 11:44] abhishek1191 opened #96 "Exercise 1 : Execution time issue"
Getting an error "Expected execution time: 1673±100ms. Submission execution time: 1213ms." in the first exercise (warm_up). Got the same error even when running the code provided in the solutions!

Any help would be appreciated.

[2016-09-04 04:08] TimothyGu commented on #96
What system are you running?

[2016-09-05 11:35] abhishek1191 commented on #96
Hi Timothy,

Thanks for the response. Still facing the same issue  for further exercises as well. I am running it on a Windows Machine with Corei3 processor and 4GB RAM. Please let me know if you any more details

[2016-09-09 09:06] mnummeli opened #97 "Exercise 11, shorter solution by avoiding duplicated code"
It is possible to write an inner function to handle the otherwise duplicate code in promise handlers, i.e.

[code]

[2016-09-14 15:44] adekbadek commented on #88
@TimothyGu #93 is resolving this issue, could you please merge it?

[2016-09-14 19:49] TimothyGu commented on #88
@adekbadek, comments for #93 added.

[2016-09-14 20:21] probil commented on #88
It seems like #93 resolves my issue. The exercise description is not so "magic" as before.

[2016-09-14 21:04] #81 closed

[2016-09-20 22:05] probil opened #99 "Exercies 10 - Can't be solved"
I have a correct solution for exercise 10 but the app can't accept it because it compares path to may solution with path to correct solution. Check line number 7 there

[code]

7-th respose line will never be equal. So, some changes need to make it work correctly

[2016-10-03 00:35] danielvdao opened #102 "Exercise 9 - Throw an Error"
I tried my own solution at first, and that didn't work. So I copy/pasted the same solution in the repository to see what would happen and this is what I'm seeing.

[code]

with the following code:

[code]

Am I mistyping something?

[2016-10-08 05:19] hbaqai commented on #91
You need to install [Docker](https://www.docker.com/)

[2016-10-08 20:32] TimothyGu commented on #91
You don't need to use Docker to install promise-it-wont-hurt. Simply using the [npm method](https://github.com/stevekane/promise-it-wont-hurt#1-npm) should work.

[2016-10-08 20:32] #91 closed

[2016-10-09 12:34] Khangeldy commented on #102
[Solution is here ](https://github.com/stevekane/promise-it-wont-hurt/pull/98/commits/18662a8272c72095bf3d957c0f8f188cdbc1726f). Rewrite exercise.js

[2016-10-20 10:31] yikjin commented on #96
I am facing this issue as well. In the first exercise, when I tried to verify my program, I got the error message:

My solution to the exercise is:

    'use strict';

    (function() {
      setTimeout(() => {console.log('TIMED OUT!');}, 300);
    })();

However, my program was accepted when I changed the value `300` to a larger number, like `500`. I am running on `Microsoft Windows 10 Home (x64-

[2016-10-23 00:57] gabrielkunkel commented on #99
Yes I have the same issue. I used the stored solution for this.

[2016-10-23 01:01] gabrielkunkel opened #103 "Should we eliminate reference to Q's fcall in "An Important Rule" (Exercise 10)"
I don't remember fcall being brought up before in the program and the solution doesn't use Q's fcall, yet...

`  * Create a promise chain that wraps your iterate method using Q's`fcall` then a series of iterations that attempts to perform `iterate`a total of 10 times. `

is in the instructions. Do we want to remove this or update the solution to include Q's fcall?

[2016-10-23 01:05] gabrielkunkel commented on #103
Never mind, I saw issue #83.

[2016-10-23 01:05] #103 closed

[2016-10-23 01:26] gabrielkunkel commented on #99
I even tried this solution:

[code]

And although it looks great in the console:

[code]

It still doesn't pass the tests:

[code]

[2016-10-23 01:45] gabrielkunkel opened #104 "Where are the exercise files?"
I don't know if this is the place to ask, but I was trying to resolve the issues with exercise 10 (#99) and when I looked into the exercise.js file for that exercise, all I see is:

[code]

Could you point me in the right direction if I was to help fix the issues with exercise 10? Thanks so much.

[2016-10-24 09:46] kanishk-annamaneni commented on #104
See in the solution folder instead

[2016-10-24 15:17] gabrielkunkel commented on #99
I see... It looks like the problem is with workshopper?

[2016-10-24 15:37] gabrielkunkel commented on #83
This should be resolved with pr:57. https://github.com/stevekane/promise-it-wont-hurt/pull/57

[2016-10-24 15:53] gabrielkunkel commented on #83
I created a pull request (https://github.com/stevekane/promise-it-wont-hurt/pull/105) to resolve this.

[2016-10-24 19:03] probil commented on #99
@gabrielkunkel  Yeah. Just skip this exercise for now

[2016-10-24 20:06] gabrielkunkel commented on #99
@probil Well, yeah. I was trying to see how I might fix it, but I'm not sure I have the time. It seems like workshopper[-adventure] is wokring against us.

[2016-11-04 08:26] donovanh commented on #102
Here's a better solution that doesn't rely on the entire error object being compared: https://github.com/stevekane/promise-it-wont-hurt/pull/106

[2016-11-04 08:28] donovanh commented on #92
A simple fix in this PR https://github.com/stevekane/promise-it-wont-hurt/pull/106

[2016-11-09 23:28] EduRomoGO commented on #80
Same here, the problem seems to be the JSON.parse, cause buffer data is arriving. This data should be decoded on some other way.

[2016-11-16 10:46] arieltci opened #107 "npm install is broken"

[2016-11-17 11:18] techyrajeev commented on #83
While doing ex - 10 I came across

Create a promise chain that wraps your iterate method using Q's`fcall` then a series of iterations that attempts to perform `iterate`a total of 10 times.

I have no idea from where Q's 'fcall` comes in the instruction, I have no idea what is Q either. It is really confusing.

[2016-11-18 02:18] gabrielkunkel commented on #83
@techyrajeev If you read my revision in pull request #105 it should make a bit more sense.

[2016-11-21 16:32] gness1804 commented on #92
I am still having this problem, even after implementing the fix from #106. I have a working solution but keep getting the following error:

` "SyntaxError: Unexpected token o in JSON at position 1" ==    "SyntaxError: Unexpected token o in JSON at position 1"
   "    at Object.parse (native)"      ==    "    at Object.parse (native)"
   "    at /Users/[my-file-path]/exer-9.js:4:20" !=    "    at /

[2016-11-26 00:41] mn113 commented on #88
PR #93 is a great improvement to the wording! Now if someone would kindly merge it in, the rest of the world can stop banging their heads against this frustrating exercise...

[2016-12-20 21:08] hellsinglord22 commented on #102
@Khangeldy open a pull request bro,

[2017-01-01 00:02] darylshy opened #109 "an_important_rule"
var q = require('q');
//my code....
.
.
.

output:
Error: Cannot find module 'q'

[2017-01-01 17:47] sdlambert commented on #88
I can second all of the previous users here, the wording is not clear and this PR would help tremendously. Thanks!

[2017-01-02 19:57] JavierMendozaGomez opened #110 "Exercise 8"
HI i got this problem with the execution of exercise 8:

The Task

Construct a promise chain that returns values to prove to yourself that
promise handlers will wrap your returned values in promises allowing
additional chaining.

  * Declare a function `attachTitle` which prepends `'DR. '` to its firstargument and returns the result.
  * Create a fulfilled promise with a value of `'MANHATTAN'`.

[2017-01-10 05:45] econn9 opened #111 "npm install not working/bombing out"
i did have to run sudo in front of the npm command, but here is all i get when i run it, and no folders are created in the directory, just lonely old package.json:

sudo npm install -g promise-it-wont-hurt@latest

response:

npm WARN deprecated node-uuid@1.4.7: use uuid module instead
/usr/local/bin/promise-it-wont-hurt -> /usr/local/lib/node_modules/promise-it-wont-hurt/promise-it-wont-hurt.js
pr

[2017-01-15 15:03] cedvdb commented on #96
Same, 500  worked for me though
[code]
windows

[2017-01-16 23:28] ayhtrak commented on #97
Seriously??

The whole point of the solution was to make clear the synchronous behavior of Promise.all
Abstracting the multiple call by wrapping in a custom function doesn't serve the purpose

[2017-01-24 17:09] ericvangeem commented on #109
Try installing it in your working directory using npm. `npm install q`

[2017-01-24 19:56] arun1595 commented on #94
What if we ask the learners to just log `error.message`? This would solve the issue of comparing the string representation of the `Error` object.  ie. We only compare the following string

[code]

I would love to add this fix to the codebase. Can someone point me on how to go about it?

[2017-02-12 19:04] hodorswit commented on #110
This is failing because the workshopper enforces an assumption that the name of the function passed to your first `then()` call will be 'attachTitle' (it uses the `name` property of the function to determine this). In your case, you are using an anonymous function expression and assigning to a variable named attachTitle, so the 'name' property will be empty. You should be able to fix this with a f

[2017-03-26 05:21] tdtsh opened #116 "Crash when CHOOSE LANGUAGE is selected"
## Problem

If you select CHOOSE LANGUAGE with promise-it-wont-hurt, it exits immediately after the language selection menu is displayed

## Execution environment

* MacOS 10.12.3
* Node.js 6.10.0
* Commit: 2e22b128790dab2f1730d2510a4211bdf74d80f9

## Reproduction procedure

git clone git@github.com: stevekane / promise-it-wont-hurt.git
npm i
node promise-it-wont-hurt
Move the cursor to CHOOSE LAN

[2017-03-26 05:29] tdtsh commented on #116
Published npm package of @timothygu/workshopper@^2.7.4 is not contain following pullrequest I think.

https://github.com/workshopper/workshopper/pull/128/files

[2017-03-27 00:08] watilde commented on #116
it worked with these updates: https://github.com/watilde/promise-it-wont-hurt/commit/08591007c17543ccbc19f918d0aa3edf309b8cde, https://github.com/watilde/promise-it-wont-hurt/commit/e65e7feabba4c522915d871cf5f134f6dc602de5. It seems to be worth to try, but I guess there is something reason why this workshop is using @TimothyGu 's forked module.

[2017-03-27 01:43] tdtsh commented on #116
Thanks a lot! @watilde but, this fix seems to cause another bug.

- how to reproduction

Move the cursor to CHOOSE LANGUAGE and press the Enter key
Choose language (ex. English)
Choose lesson (ex. Warm up)

[code]

[2017-03-28 19:31] Chrinkus commented on #88
THIS. Very fun and well designed workshop up until this point.

[2017-03-29 19:48] dmwelch commented on #107
http://allanmcrae.com/2011/05/how-to-file-a-bug-report/

[2017-03-30 05:27] jfisher446 commented on #88
@TimothyGu Could we have another look at merging #93 to solve this issue? Thank you!
I'll echo the others above that it was all smooth sailing until this hard blocker due to confusion over the task instructions.

[2017-04-05 13:06] awitherow opened #119 "Exercise 8: failing due to fulfillment with function call?"
I have seen that the correct solution is returning a value, then passing that value to the attachTitle function, then console logging.

I did this approach and am failing for the reason shown also below.

[code]
[code]

This IS returning a value at the end of the day, which is the point of the lesson?

[2017-04-05 13:09] awitherow commented on #119
Also fails with

[code]

I saw the issue https://github.com/stevekane/promise-it-wont-hurt/issues/110 but I seem to be declaring a function with a proper name?

[2017-04-15 15:15] jjhampton commented on #88
I agree with the comments above - I was only able to comprehend the instructions enough to complete this exercise after #93 was added.

[2017-05-31 15:18] devserkan commented on #119
The point is here I think, workshop wants to show us although our function does not return a promise, onFulfill handler wraps it in a promise. So, this is why workshop expects us to use a function which does not return a promise and chain it with .then like it turns one! You are using your function (even invoke it) in resolve, so this is very usual. You are resolving a value there (from your funct

[2017-05-31 19:41] awitherow commented on #119
Alright thanks for the clarification!

[2017-05-31 19:41] #119 closed

[2017-06-06 07:23] mknj opened #121 "add --rm to docker run"
calling "docker run" multiple times will create many stopped containers.

using "docker run --rm" resolves this issue by deleting the temporary container after executing it.

[2017-06-17 15:17] ohcibi commented on #97
@ayhtrak in what way is the official solution making clear that `Promise.all` is synchronous?? The current solution as well as this proposed solutions *both* do two sequentially calls to `.then`; the only difference is that this solution has the function passed to `.then` declared before *both* calls..

If you really want to show the synchronous behavior, the solution should go like

[code]

[2017-06-17 15:25] ohcibi opened #122 ""Multiple promises" fails on MacOS"
I can only reproduce this in MacOS. The very same code for the solution works on linux.

# Steps to reproduce

[code]

# Expected

Workshopper should pass

# Actual

[code]

[2017-06-17 15:28] michaalbert commented on #122
I had the exact same issue on Linux Ubuntu 16.04 LTS, Node 8.1.2.

[2017-07-10 00:10] mayanksha opened #125 "Cannot read property 'substring' of null in PIWH while ts-node outputs perfectly."
Hi everyone!
My solution is given below. When I try to use ts-node to run the program, I don't get any error and the program successfully prints REJECTED! in each of the four cases mentioned below, while the same is not the case when I do promise-it-wont-hurt verify reject.ts.

Just the first one :

```promise.then(undefined, onReject);```

successfully gets verified by PIWH while the last three (

[2017-07-21 08:57] amanmj opened #126 "Error in excercise "throw an error""
The stack trace of exception that occurs will never match as the path to the file cannot be always the same.
You expect to save the file at exactly the same path .
Check the below screenshot
<img width="1434" alt="screen shot 2017-07-21 at 2 25 39 pm" src="https://user-images.githubusercontent.com/7460559/28456659-b1e997e6-6e20-11e7-9414-a1cc73d2ae50.png">

[2017-07-21 09:19] amanmj opened #127 "Error in verifying exercise "An important rule""
The error stack trace cannot be the same as the file location can be different for different users
<img width="1427" alt="screen shot 2017-07-21 at 2 49 03 pm" src="https://user-images.githubusercontent.com/7460559/28457462-d80667d0-6e23-11e7-82cc-a9f8f27e671c.png">

[2017-07-23 14:21] #122 closed

[2017-09-07 12:16] natcreates commented on #126
Having this exact same issue.

[2017-09-07 13:55] natcreates opened #130 "Multiple promises solution fails verification - 'you did not call then from function all'"
My solution was getting the expected output but not passing verification because 'You did not call then from function all'. As I was, and to make sure I wasn't going mad, I double-checked by copying and pasting the official solution. The same error is shown.

[2017-09-16 11:39] mizkuzy opened #131 "Describing of the Exercise 2 is confusing"
I've been trying for two hours to solve the problem but I've solved.
And I think that describing of the task is confusing.

the textual message of the error.

But instead verificator expect to print "TIMED OUT".

Could you please make describing of the task correct. Or am I maybe wrong?

[2017-09-16 16:13] #131 closed

[2017-09-22 09:09] loicjaouen commented on #102
how to force the success of this exercise to go through to the rest of the workshop:

* first run `promise-it-wont-hurt verify` on your script

the result should complain that some lines don't match because of paths:
[code]

It is hardly readable, but the stack of the thrown exception contains the path of the script.
My script is not the official answer's script, so they are not the same file thus

[2017-10-12 09:33] gyaresu commented on #127
To get past this you can call the actual solution file which then gives the PATH it expects to see (as part of the comparison).

In my case:
`$ promise-it-wont-hurt verify /Users/gyaresu/.node/lib/node_modules/promise-it-wont-hurt/exercises/an_important_rule/solution/solution.js`

![screen shot 2017-10-12 at 2 30 58 am](https://user-images.githubusercontent.com/29263/31489489-9e8172b2-aef5-11e7-8a

[2017-10-14 17:53] qyearsley commented on #92
I also ran into this, and there are already proposed PRs to fix this issue... @stevekane could you merge a fix?

[2017-10-16 18:48] ijoel commented on #126
See the workaround that @loicjaouen posted to move forward.
https://github.com/stevekane/promise-it-wont-hurt/issues/102#issuecomment-331394301

[2017-10-17 03:22] amanmj commented on #126
Awesome

[2017-10-22 17:56] addaleax commented on #102
I think this has been fixed now, so I’m closing this. Please feel free to re-open if you run into any more trouble!

[2017-10-22 17:56] #102 closed

[2017-10-22 17:56] addaleax commented on #126
I think this has been fixed now, so I’m closing this. Please feel free to re-open if you run into any more trouble!

[2017-10-22 17:56] #126 closed

[2017-10-22 19:34] #99 closed

[2017-10-22 19:41] addaleax commented on #92
I think this has been fixed now, so I’m closing this. Please feel free to re-open if you run into any more trouble!v

[2017-10-22 19:41] #92 closed

[2017-10-22 19:41] addaleax commented on #94
I think this has been fixed now, so I’m closing this. Please feel free to re-open if you run into any more trouble!

[2017-10-22 19:41] #94 closed

[2017-10-22 19:42] addaleax commented on #127
I think this has been fixed now, so I’m closing this. Please feel free to re-open if you run into any more trouble!

[2017-10-22 19:42] #127 closed

[2017-10-22 19:47] addaleax commented on #72
I think this is all resolved now. Let us know if you run into any more trouble!

[2017-10-22 19:47] #72 closed

[2017-10-23 04:01] amanmj commented on #127
Sure thanks

[2017-10-23 04:04] amanmj commented on #126
Thanks!

[2017-10-29 14:53] inomdzhon opened #134 "Exercise 9: TypeError: Cannot read property 'pipe' of undefined"
When I run my programm `promise-it-wont-hurt run 9-throw-an-error.js` I get next error:

[code]

But `promise-it-wont-hurt verify 9-throw-an-error.js` is passed.

My code:

[code]

[2017-10-30 04:35] isomorphisms opened #135 "lesson #2"
I don't understand how to get a promise to be fulfilled by the end of lesson 2. Here is what I run

[code]

This runs in the node repl: I actually create a promise. But then how do I make it succeed? Do I pass something? (No: node repl tells me `p` is not a function.) And what does `then` mean? This is what I came here to find out.

Also your front page says this is updated weekly, but talking abo

[2017-10-30 05:10] isomorphisms commented on #135
ok, this answered my question: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise

so the proper structure for a promise is

`var p = new Promise( (a,b) => a("working") )`

[2017-10-30 05:39] isomorphisms commented on #135
I guess looking back you did say this somewhere in lesson #2. But I didn't understand it from what you said. (probably too much text)

[2017-10-31 02:38] isomorphisms opened #136 "lesson #4"
what exactly is the bug in

[code]
?

[2017-11-01 01:27] addaleax commented on #136
@isomorphisms I think you want to `return;` inside the `if` block as well, otherwise you first run the callback with `callback(null, user); ` and then with `callback( "No user found", null);`?

[2017-11-21 04:20] Aseelaldallal commented on #134
Same here.

Even if my JS file is just
console.log("HI!!!!")

[2017-11-21 04:27] Aseelaldallal commented on #134
i just used verify instead of run and it worked fine.

[2017-12-03 14:06] TylerYang commented on #125
Same issue here,

### Reproduce Steps
- `npm install -g promise-it-wont-hurt@latest`
- Create a file `rejected-promise.js` which contains content below
[code]
- `promise-it-wont-hurt verify rejected-promise.js`

### Expected Behaviour
Outputing the result like `success` or `failed`.

### Actual See
[code]

### Reason
https://github.com/stevekane/promise-it-wont-hurt/blob/v1.1.2/exercises/reject_a_

[2017-12-03 14:14] TylerYang opened #138 "Support promise.catch in exercise Reject a promise"
In `reject a promise` exercise, we didn't support `promise.then` while catching the rejection. Check [this link](https://github.com/stevekane/promise-it-wont-hurt/blob/v1.1.2/exercises/reject_a_promise/wrap.js).

`catch` and `then(null, handleError)` are basically the same thing, and instead of doing `promise.then(null, handleError)`,  an experienced user would just use `promise.catch(handleError)

[2017-12-04 03:17] TimothyGu commented on #138
Sure, a patch would be welcome.

[2017-12-16 07:52] meeple142 commented on #130
for @codingdojo-dkitzmiller  at least, my guess is that it has something to do with the fact that you are using typescript not es6.
For example, `function onRejected(d: string) ` is typescript, specifically the `d: script` part.

Hope this helps :)

[2018-01-11 16:50] mcompote opened #140 "#11 Multiple promises | #bonus part"
Greetings!
I've stumbled upon some thing I can't comprehend.
It is said at the end of lesson's description:

     then attach a `done` handler to guard against uncaught exceptions.

And in \#bonus sections:

Your program will now throw an exception in the global context!  Ahh!
Try to fix this using the approach described above.

My code:
[code]

The problem with **.done()** method of Promise inter

[2018-01-16 01:18] #125 closed

[2018-03-19 12:29] AlexandroPerez opened #141 "Exercise 11, solution that takes any number of promises as an array, like Promise.all()"
So I came up with the following solution after a lot of mistakes, and a solution that didn't run in parallel,
 like do `promise2` only after `promise1` is done.

I think it runs in parallel, since I did a `console.log(i)` inside the `for` loop, and the number of promises passed to `function all()` printed instantly... but I can't say I'm sure it really works in parallel.

[code]

[2018-03-30 17:54] aperezdx opened #142 "Running verify fails"
Every time I try to run `verify` I get this:

DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead

[2018-04-02 17:37] ActoMatics commented on #95
Hi, Im stuck.. I would love to get a hint, here is my code so far:

`    var promise = new Promise(function (fulfill, reject) {
        setTimeout(function() {
            console.log('FULFILLED!');
        }, 300)
    })
    .then(() => {
        fulfill('FULFILLED');
        console.log(fulfill(setTimeout));
    });`

[2018-04-02 18:35] keith24 commented on #95
Firstly, you should use newlines.  It makes it hard to read, and you missed a semicolon.

Here are some hints:

- `fulfill()` is only available in the promise constructor, not the `then` function
- Use `console.log` in the `then` function, not the promise constructor

[code]

Here's another one, because promises are hard:

[code]

[2018-04-02 21:10] gitasong commented on #142
@aperezdx I believe that error is for the module code itself: some function used in the source code has been deprecated and replaced by another function. You should still be able to run `verify` on your project file(s) and get test results.

[2018-05-28 04:13] Valentino-Houessou opened #144 "can't verify the shortcut exercise"
The command `promise-it-wont-hurt verify solution.js` for the shortcuts exercise didn't give any result.
![capture d ecran 2018-05-28 a 06 10 23](https://user-images.githubusercontent.com/8861329/40596884-1aceec90-623e-11e8-9c5a-f7025c9b4f7b.png)

[2018-05-30 05:45] #144 closed

[2018-06-18 03:03] hotdang-ca commented on #88
Oh good, i'm not the only one. I rage-quit during this one...

[2018-06-21 22:06] MalutkiSiwy commented on #134
I just deleted this "pipe" and work fine for me didnt crash or something

[2018-07-14 20:59] openmedi opened #145 "Exercise 11: use of counter is not tested"
Here's a solution for the problem 11 that doesn't use a counter and still passes:

[code]

I'm glad I passed (took me a long time…), but either the wording of the task should be changed to allow such a thing explicitly, or I should've failed, since I didn't even use a counter.

[2018-07-14 21:20] openmedi opened #146 "Exercise 12: URL to send a request to is not visible"
This is what I got when trying to solve the 12th exercise (notice the http:// and the https:// for the documentation):

<img width="1389" alt="screen shot 2018-07-14 at 23 16 14" src="https://user-images.githubusercontent.com/423471/42728522-5646206a-87bc-11e8-8e76-eb970c4d6cbd.png">

I had to look up the URL here in the repo (localhost:1337) in order to pass.

[2018-07-24 11:00] June057 opened #147 "Error in Lesson 2:Verify: You did not use promise constructor and fulfill method (though i used)"
const Promise = require('es6-promise');

 return new Promise(function (fulfill, reject) {
     setTimeout(function () {
         fulfill('FULFILLED!');
     }, 300)
 })
     .then(function(val){
         console.log(val);
     });

[2018-07-24 11:04] addaleax commented on #147
I think it’s complaining because you overwrote the “real” `Promise` constructor with `require('es6-promise')`. Does it help if you remove the first line?

[2018-07-24 11:10] June057 commented on #147
Yes Thanks.

[2018-07-24 11:10] #147 closed

[2018-09-13 14:21] noalevit18 commented on #145
Your solution is not async, you perform p2 after you finish performing p1

[2018-09-13 14:56] ghost commented on #145
@noalevit Can you explain a little bit more what you mean by not async? I just wait for p1 to finish and then wait for p2 to finish and only then I resolve the „parent“ promise. Isn’t that what’s supposed to be happening?

[2018-09-13 15:01] noalevit18 commented on #145
No, p1 and p2 should happen in parallel, you shoundn't wait for p1 to finish in order to start p2

[2018-09-13 15:11] ghost commented on #145
Ah, I see what you're saying now. I guess my initial point still stands, though: I pass the challenge in this way, even though I shouldn't. That should change.

[2018-09-16 12:19] noalevit18 opened #150 "Exercise 13 - missing responses types"
Hi,
You didn't mention in the task's instructions that user object is a json and should be parsed.
Also, for some reason the user ID from the first request is returned as a buffer and not as a string (as you said).. it's very confusing.

[2018-09-24 09:49] senpl commented on #110
I do not understand why this is incorrect
`.then(val => attachTitle(val)).then(console.log);`
but this is correct
`.then(attachTitle).then(console.log);`
They seems that same one is just shorter.

[2018-09-25 14:12] senpl commented on #146
@tdd This is serious issue that make this exercise unusable. Please provide text into description that clearly state localhost:1337 . Some simple fix is needed to not waste users time.

[2018-09-25 14:46] senpl commented on #146
This pull request should solve that issue https://github.com/stevekane/promise-it-wont-hurt/pull/151

[2018-12-26 13:24] DavidPinilla1 commented on #146
thanks! I was also stuck due to the same reason

[2020-02-19 20:34] giovsteph opened #155 "Exercise #2 fullfilling a promise"
I'm new to promises and I do not quite get why it keeps returning the error:

**'You didn’t use fulfill method**'

this is my code
`require('es6-promise');

'use strict';

let promise = new Promise(function(fulfill, reject) {
        setTimeout(function(fulfill) {
            console.log('FULFILLED!');
        }, 300);
    })
    .then(function() {
        console.log(setTimeout)
    });`

thanks

[2020-05-03 12:14] #86 closed

[2020-05-25 06:56] avempaty opened #156 "Issue running Challenges after Warm Up"
I'm currently seeing this issue when trying to access any challenge after the warm up challenge:

<img width="833" alt="Screen Shot 2020-05-24 at 11 52 13 PM" src="https://user-images.githubusercontent.com/8570672/82786519-a3efe380-9e19-11ea-9b35-6abca5cafe5b.png">

I tried uninstalling and re-installing but didn't work. It looks like theres an issue on its dependency which is odd as I was able to

[2020-05-25 07:49] avempaty commented on #156
Fixed the typo, got package to work, not sure why npm install pulled the dependency with a typo, should be something worth looking at

[2020-06-11 21:42] nickyfoto commented on #156
`os.tmpdir()` is the correct function

[2020-06-22 00:39] jersson opened #157 "the choose language option is not working"
Hey guys, I've tried to use the spanish version but I'm stucked in the choose language option.
Is there any tech/node required version for this workshoper?

Thanks in advance :)

[2020-07-10 14:27] gplusdotgr opened #158 "Exercise 11 has unclear instructions"
should be :

Whats an "internal promise" ? I guess you mean : `within the `all function`, create a new promise. (and return it)`

containing both values.
Which two values? We only know about the `counter` value so far.

[2020-07-20 23:37] luucamay commented on #157
Hello! I was also trying to use the spanish version too, and I also got stucked in the choose language option @jersson @tdd @timoxley

[2020-07-20 23:41] luucamay commented on #134
@MalutkiSiwy  where did you deleted the 'pipe'? I am running with the same issue.

[2020-07-22 17:22] jersson commented on #157
Hi there, maybe we'll need to check how to fix it 🤔 😄

[2020-11-16 06:00] dbelozerovx1 opened #159 "Error starting from 2nd lesson"
Downloaded & installed via NPM, 1st lesson worked fine, starting from 2nd one getting an error, screenshot attached, please help to solve, thanks in advance
![image](https://user-images.githubusercontent.com/60913832/99217916-be74a980-280b-11eb-886f-a90ea604ca5f.png)

[2020-11-22 22:00] s-maibuecher commented on #159
Quick fix: Open _[..]\node_modules\promise-it-wont-hurt\node_modules\@timothygu\workshopper-wrappedexec\wrappedexec.js_ and change `os.tmpDir` to `os.tmpdir`

See here: https://github.com/alhazmy13/serverless-offline-python/issues/18#issuecomment-666549117

[2020-11-23 04:06] dbelozerovx1 commented on #159
Solution actually helps me, thank you

[2020-11-23 04:06] #159 closed, assigned to nobody

[2020-11-23 06:31] guna32 opened #160 "Error loading exercise"
when i select exercises i see this error

/usr/local/lib/node_modules/promise-it-wont-hurt/node_modules/@timothygu/workshopper-wrappedexec/wrappedexec.js:16
  var dataPath = path.join(os.tmpDir(), '~workshopper.wraptmp.' + process.pid)
                              ^

TypeError: os.tmpDir is not a function
    at fix (/usr/local/lib/node_modules/promise-it-wont-hurt/node_modules/@timothygu/worksho

[2020-11-25 05:18] dbelozerovx1 commented on #160
https://github.com/stevekane/promise-it-wont-hurt/issues/159

Check this solution, it helps

[2020-12-14 10:21] BinaryEnigma01 opened #161 "Use of deprecated os.tmpDir()"
When trying to take a look at any exercise besides the very first one, I got:
[code]

After some quick googling, found that os.tmpDir() is and has been deprecated for a while now, and os.tmpdir() should be used instead.
Upon enacting this substitution, everything worked just fine.

Recommendation: `require` https://github.com/workshopper/workshopper-wrappedexec instead of outdated fork https://git

[2020-12-14 10:22] BinaryEnigma01 commented on #161
(Oops just noticed there are more issues with this, should have left a comment instead)

[2021-05-14 15:51] abmdni commented on #161
got same issue as you!

[2021-09-29 10:19] Tania-Y commented on #161
me too

[2021-11-17 16:12] k-garrido commented on #161
It still throwing the error :(

[2022-03-22 09:03] Cabanesdev commented on #161
To solve this problem you have to change line 13 of the file
`[node_path]/node_modules/promise-it-wont-hurt/node_modules/@timothygu/workshopper-wrappedexec/wrappedexec.js`

[code]
change this for that
[code]

[2022-04-26 12:02] qadzek commented on #161
You could use nvm to temporarily switch to an older version of Node.

[2022-08-23 20:53] dovhanrg commented on #134
Does anyone figured out what pipe to delete?

[2022-10-09 11:51] bytedance19 commented on #158
the two arguments are  getPromise1() and  getPromise2()